<!-- Modification Details:
1. This html page used to show Sidenav or Leftmost panel content in the dashboard -->

<button (click)="toggleOpenClose()" class="btn btn-default showToggleButton">
    {{toggleButtonName}}
</button>
<ng-container *ngIf="open">
<div class="sidenav">
	<ul>
		<li><a routerLink="/list">
				<h4 title="Click here to show the note list">
					<span class="glyphicon glyphicon-folder-close"></span> Folders List/Notes List
				</h4>
		</a></li>

	</ul>
	
		
	<button type="button" class="btn btn-success newfolder"
		(click)="onSubmit()">
		<span class="glyphicon glyphicon-plus-sign"></span> NewFolder
	</button>

</div>
</ng-container>